<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    {% include 'common-head.html' %}
</head>
<body>


<div class="ui secondary  menu" style="margin: 10px">
    <a class="item" id="payment-link">
        <i class="shopping cart icon blue large"></i>
        <label style="color: #2185d0; font-weight: bold; font-size: 15px">Buy Pack</label>
    </a>
    <div class="right menu">

        <a class="ui item">
            <div class="ui" data-tooltip="{{ user.get_username }}" data-position="bottom right">
                <i class="user grey large icon"></i>
            </div>
        </a>
        <a class="ui item" href="{% url 'user-logout' %}">
            <div class="ui" data-tooltip="Logout" data-position="bottom right">
                <i class="sign out alternate icon red large"></i>
            </div>
        </a>
    </div>
</div>


<div class="ui segment" style="margin: 10px">

    <h1 class="ui header">Your packs</h1>

    <div class="ui inverted segment">
        <div class="ui inverted relaxed divided list">
            {% for pack in packs %}
                <div class="item">

                    {% if pack.finished %}
                        <i class="icon close red large"></i>
                    {% elif pack.started %}
                        <div class="right floated content">
                            <button class="ui button" id="android-connection-{{ pack.id }}">
                                <i class="android icon green large"></i> Android
                            </button>
                            <script>
                                $('#android-connection-{{ pack.id }}').click(function () {
                                    Swal.fire({
                                        title: '<strong><u>Android connection</u></strong>',
                                        icon: 'info',
                                        html: '<div class="ui list">' +
                                            '    <div class="item">' +
                                            '        1. Download this <a href="/static/ssh-injector.apk">android application</a>.' +
                                            '    </div>' +
                                            '    <div class="item">' +
                                            '        2. Enter settings similar to this <a href="/static/secure-shell-setting.mp4">video</a>.' +
                                            '    </div>' +
                                            '    <div class="item">' +
                                            '        3. Enter the following values in ssh settings.' +
                                            '    </br>' +
                                            '        <ul class="ui list">' +
                                            '            <li value="-">hostname: {{ HOSTNAME }}</li>' +
                                            '            <li value="-">port: {{ pack.port }}</li>' +
                                            '            <li value="-">username: {{ pack.linux_username }}</li>' +
                                            '            <li value="-">password: {{ pack.linux_password }}</li>' +
                                            '        </ul>' +
                                            '    </div>' +
                                            '</div>'
                                    });
                                })
                            </script>
                        </div>
                        <div class="right floated content">
                            <button class="ui button" id="windows-connection-{{ pack.id }}">
                                <i class="windows icon blue large"></i> Windows
                            </button>
                            <script>
                                $('#windows-connection-{{ pack.id }}').click(function () {
                                    Swal.fire({
                                        title: '<strong><u>Windows connection</u></strong>',
                                        icon: 'info',
                                        html: '<div class="ui list">' +
                                            '    <div class="item">' +
                                            '        1. Download this <a href="/static/putty.exe">File</a>.' +
                                            '    </div>' +
                                            '    <div class="item">' +
                                            '        2. Download this <a href="{% url 'user-putty-cmd' pack.id %}">executable file</a>.' +
                                            '    </div>' +
                                            '    <div class="item">' +
                                            '        3. Put both files together and execute vpn.cmd' +
                                            '    </div>' +
                                            '</div>'
                                    });
                                })
                            </script>
                        </div>
                        <i class="icon check green large"></i>
                    {% else %}
                        <div class="right floated content">
                            <a href="{% url 'user-start-pack' pack.id %}">
                                <button class="positive ui button">Start</button>
                            </a>
                        </div>
                        <i class="icon info orange large"></i>
                    {% endif %}

                    <div class="content">
                        <a class="header">Pack {{ pack.id }} ({{ pack.days }} Days)</a>
                        <div class="description">
                            {% if pack.finished %}
                                Expired
                            {% elif pack.started %}
                                In use, Started from {{ pack.start_time | timesince }} ago
                            {% else %}
                                Not started yet
                            {% endif %}
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>

</div>
</body>
</html>

<script>
    function click_payment_link() {
        Swal.fire({
            title: '<h1>Pay through this link</h1>' +
                '<h3>(Be careful to enter this email for payment)</h3>' +
                '<h3 style="font-weight: bold; color: green">{{ user.email }}</h3>',
            showCancelButton: true,
            confirmButtonText: 'Idpay Link',
            confirmButtonColor: '#21ba45',
            showLoaderOnConfirm: true,
            preConfirm: () => {
                location.href = '{{ IDPAY_PAYMENT_PAGE_URL }}';
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
        })
    }

    $("#payment-link").click(click_payment_link);
</script>

